.Row {
  position: relative;

  .ButtonWrapper {
    display: none;
    flex: 1 0 100%;
    justify-content: center;
    align-items: center;

    .AddRowButton {
      color: var(--c-blue);
    }

    &:last-of-type {
      display: flex;
    }
  }

  .CellsWrapper {
    display: flex;
    flex-flow: row wrap;
    flex: 1 1 100%;
  }

  .RemoveButton {
    position: absolute;
    top: calc(50% - 32px / 2);
    right: -40px;
    transform: translateY(-50%);
    color: var(--c-red);
  }

  &.isFirst {
    .ButtonWrapper:first-of-type {
      display: flex;
    }

    .RemoveButton {
      top: 50%;
    }
  }
}

@media (any-hover: hover) {
  .Row {
    .ButtonWrapper {
      .AddRowButton {
        transition: opacity 0.3s ease;
        opacity: 0.6;

        &:hover {
          opacity: 1;
        }
      }
    }

    .RemoveButton {
      transition: opacity 0.3s ease;
      opacity: 0.6;

      &:hover {
        opacity: 1;
      }
    }
  }
}
