.Cell {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--c-grey);
  border-radius: 5px;
  flex: 1 1 calc(100% / 3 - 5px * 2);
  padding: 30px;
  margin: 5px;
  position: relative;
  max-width: 100%;

  .AddSiblingCellButton,
  .RemoveButton {
    position: absolute;
  }

  .AddSiblingCellButton {
    top: 50%;
    transform: translateY(-50%);
    color: var(--c-green);

    &.Before {
      left: 0;
    }

    &.After {
      right: 0;
    }
  }

  .RemoveButton {
    top: 0;
    right: 0;
    color: var(--c-red);
  }

  .Value {
    display: inline-block;
    padding: 10px;
    min-width: 20px;
    min-height: 1.2rem;
    border: 1px dashed var(--c-grey-1);
    transition: border-color 0.3s ease;

    &:focus {
      border-style: solid;
      outline: none;
      box-shadow: none;
    }
  }
}

@media (any-hover: hover) {
  .Cell {
    .AddSiblingCellButton,
    .RemoveButton {
      opacity: 0;
      transition: 0.3s ease;
    }

    .Value {
      border-color: transparent;
    }

    &:hover {
      .AddSiblingCellButton,
      .RemoveButton {
        opacity: 0.6;
      }

      .Value {
        border-color: var(--c-grey-1);
      }
    }

    .AddSiblingCellButton,
    .RemoveButton {
      &:hover {
        opacity: 1;
      }
    }
  }
}

@media (max-width: 960px) {
  .Cell {
    flex-basis: calc(50% - 5px * 2);
  }
}

@media (max-width: 760px) {
  .Cell {
    flex-basis: 100%;
  }
}
