.Button {
  display: inline-flex;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
  font-size: 2rem;
  color: var(--c-white);
  cursor: pointer;
}
