.Table {
  display: flex;
  flex-flow: column;
  max-width: 1199px;
  border: 1px solid var(--c-white);
  margin: auto;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);

  .Content {
    padding: 10px;

    .AddRowButton {
      display: inline-flex;
      appearance: none;
      opacity: 1;
      background: var(--c-white);
      outline: none;
      border: 1px solid var(--c-blue);
      border-radius: 5px;
      box-shadow: none;
      margin: 0;
      margin-left: 10px;
      padding: 10px;
      font-size: 1rem;
      cursor: pointer;
      color: var(--c-blue);
    }
  }

  .Actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    background: var(--c-blue);
  }
}
