@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600|Source+Sans+Pro:300,400&subset=latin-ext');
@import '../node_modules/normalize.css/normalize.css';

:root {
  --c-white: #fff;
  --c-blue: #0091ea;
  --c-green: #00c853;
  --c-red: #dd2c00;
  --c-grey: #dbe5e9;
  --c-grey-1: #cfd8dc
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  min-width: 320px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

#root {
  height: 100%;
  padding: 15px 30px;
}

:global(.SmallButton) {
  display: inline-flex;
  appearance: none;
  opacity: 1;
  background: none;
  outline: none;
  border: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
  font-size: 2rem;
  cursor: pointer;
}
